*,*::after,*::before{
    box-sizing: border-box !important;    
}
main{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color:#7fcaad;
    font-family: 'Bangers';
}
header h1{
    font-size: 50px;
}
.card-container{
    padding: 0;
}
.search-icon{
    position: absolute;
    left:-32px;
}
.search-input{
    margin-left: 10px;
}

.fa-chevron-right, .fa-chevron-left{
    font-size: 25px;
    color: rgb(29, 29, 29);
}
.fa-chevron-right:hover ,.fa-chevron-left:hover{
    opacity: 0.7;
}
a, a:visited, a:link{
    color: inherit;
}

footer{
    height: 175px;
    background-color:rgb(29, 29, 29);
    color: white;
}
.fa-github, .fa-linkedin, .fa-instagram{
    font-size: 35px;
    margin: 5px 20px;
}

.card-container{
    margin-bottom: 50px;
}
.go-home:hover{
    background-color: #7fcaad;
    
    
}
i:hover{
    cursor: pointer;
    opacity: 0.7;
}
@media (min-width: 576px) { 
    .card-container{
        margin-bottom: 250px;
    }
    .list-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .padding-home{
        padding: 50px 70px;
        
    }
}

@media(max-width:576px){
    .banner{
        width: 500px;
    }
}

    